<header id="header">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
          <a href="tel:{{SupportPhone}}">{{SupportPhone}}</a>
          <a href="mailto:{{SupportMailId}}">{{SupportMailId}}</a>
        </div>
        <div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <!-- <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a href="#"><i class="fa fa-behance"></i></a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container main-menu">
    <div class="row align-items-center justify-content-between d-flex">
      <div id="logo">
        <a href="/home"><img src="assets/img/logo-2.png" alt="" title="" /></a>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/home">Home</a></li>
          <li><a href="/about-us">About</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="projects">Projects</a></li>
          <!-- <li class="menu-has-children"><a href="">Blog</a>
            <ul>
              <li><a href="blog-home.html">Blog Home</a></li>
              <li><a href="blog-single.html">Blog Single</a></li>
            </ul>
          </li> -->
          <!-- <li class="menu-has-children"><a href="">Pages</a>
            <ul>
              <li><a href="project-details.html">Project Details</a></li>
              <li><a href="elements.html">Elements</a></li>
              <li class="menu-has-children"><a href="">Level 2 </a>
                <ul>
                  <li><a href="#">Item One</a></li>
                  <li><a href="#">Item Two</a></li>
                </ul>
              </li>
            </ul>
          </li> -->
          <li><a routerLink="contact-us">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </div>
</header><!-- #header -->