<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          About Us
        </h1>
        <p class="text-white link\-nav"><a href="\home">Home</a> <span class="lnr lnr-arrow-right"></span> <a
            href="{{href}}"> About Us</a></p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start about-video Area -->
<section class="about-video-area section-gap">
  <div class="container">
    <div class="row align-items-center">
      <!-- <div class="col-lg-6 about-video-left"> -->
      <div class="col-lg-12 text-gold">
        <h6 class="text-uppercase">What we take pride in</h6>
        <h1>
          Who are we <br>          
        </h1>
        <p>
          <!-- <span>We are here to listen from you deliver exellence</span> -->
        </p>
        <p class="text-justify">
          Maison is an Interior and Architectural Design company dealing in residential and
          commercial projects in a broad range of styles and sensibilities. Maison is where
          your dreams meet reality. We blend comfort with style while designing your space.
          We take you to an all-new world of elegance and magnificence. Maison takes pride
          in offering its services to residential, Corporate Offices, hospitality, retail and
          Institutional segments.
          we will help you create the office or home of your dreams by designing and
          decorating the interiors to your expectations. We are the leading office and
          residential interior designing company, and well offering premier services to the most
          premium corporates.
          As an industry Leader in Lighting Design, we give due importance to Lighting both in
          Interiors and Architectural projects.
        </p>
        <!-- <a class="primary-btn mt-30" href="#">Get Started Now</a> -->
      </div>
      <!-- <div class="col-lg-6 about-video-right justify-content-center align-items-center d-flex relative">
        <div class="overlay overlay-bg"></div>
        <a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM"><img class="img-fluid mx-auto"
            src="assets/img/play-btn.png" alt=""></a>
      </div> -->
    </div>
  </div>
</section>
<!-- End about-video Area -->

<!-- Start feature Area -->
<app-features></app-features>
<!-- End feature Area -->

<app-call-info></app-call-info>

<!-- Start blog Area -->
<!-- <section class="blog-area section-gap">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-60 col-lg-9">
        <div class="title text-center">
          <h1 class="mb-10">Ongoing Exhibitions from the scratch</h1>
          <p>Who are in extremely love with eco friendly system.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="active-blog-carusel">
        <div class="single-blog-post item">
          <div class="thumb">
            <img class="img-fluid" src="assets/img/b1.jpg" alt="">
          </div>
          <div class="details">
            <div class="tags">
              <ul>
                <li>
                  <a href="#">Travel</a>
                </li>
                <li>
                  <a href="#">Life Style</a>
                </li>
              </ul>
            </div>
            <a href="#">
              <h4 class="title">Low Cost Advertising</h4>
            </a>
            <p>
              Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer.
            </p>
            <h6 class="date">31st January,2018</h6>
          </div>
        </div>
        <div class="single-blog-post item">
          <div class="thumb">
            <img class="img-fluid" src="assets/img/b2.jpg" alt="">
          </div>
          <div class="details">
            <div class="tags">
              <ul>
                <li>
                  <a href="#">Travel</a>
                </li>
                <li>
                  <a href="#">Life Style</a>
                </li>
              </ul>
            </div>
            <a href="#">
              <h4 class="title">Creative Outdoor Ads</h4>
            </a>
            <p>
              Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer.
            </p>
            <h6 class="date">31st January,2018</h6>
          </div>
        </div>
        <div class="single-blog-post item">
          <div class="thumb">
            <img class="img-fluid" src="assets/img/b3.jpg" alt="">
          </div>
          <div class="details">
            <div class="tags">
              <ul>
                <li>
                  <a href="#">Travel</a>
                </li>
                <li>
                  <a href="#">Life Style</a>
                </li>
              </ul>
            </div>
            <a href="#">
              <h4 class="title">It's Classified How To Utilize Free</h4>
            </a>
            <p>
              Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer.
            </p>
            <h6 class="date">31st January,2018</h6>
          </div>
        </div>
        <div class="single-blog-post item">
          <div class="thumb">
            <img class="img-fluid" src="assets/img/b1.jpg" alt="">
          </div>
          <div class="details">
            <div class="tags">
              <ul>
                <li>
                  <a href="#">Travel</a>
                </li>
                <li>
                  <a href="#">Life Style</a>
                </li>
              </ul>
            </div>
            <a href="#">
              <h4 class="title">Low Cost Advertising</h4>
            </a>
            <p>
              Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer.
            </p>
            <h6 class="date">31st January,2018</h6>
          </div>
        </div>
        <div class="single-blog-post item">
          <div class="thumb">
            <img class="img-fluid" src="assets/img/b2.jpg" alt="">
          </div>
          <div class="details">
            <div class="tags">
              <ul>
                <li>
                  <a href="#">Travel</a>
                </li>
                <li>
                  <a href="#">Life Style</a>
                </li>
              </ul>
            </div>
            <a href="#">
              <h4 class="title">Creative Outdoor Ads</h4>
            </a>
            <p>
              Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer.
            </p>
            <h6 class="date">31st January,2018</h6>
          </div>
        </div>
        <div class="single-blog-post item">
          <div class="thumb">
            <img class="img-fluid" src="assets/img/b3.jpg" alt="">
          </div>
          <div class="details">
            <div class="tags">
              <ul>
                <li>
                  <a href="#">Travel</a>
                </li>
                <li>
                  <a href="#">Life Style</a>
                </li>
              </ul>
            </div>
            <a href="#">
              <h4 class="title">It's Classified How To Utilize Free</h4>
            </a>
            <p>
              Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer.
            </p>
            <h6 class="date">31st January,2018</h6>
          </div>
        </div>

      </div>
    </div>
  </div>
</section> -->
<!-- End blog Area -->

<!-- <app-brands></app-brands> -->