<!-- Start callto-action Area -->
<section class="callto-action-area" [ngClass]="SectionClass">
  <div class="container">
    <div class="row justify-content-center">
      <div class="callto-action-wrap col-lg-12 relative section-gap">
        <div class="content">
          <h1>
            Looking for a <br>
            quality and affordable contractors?
          </h1>
          <p class="mx-auto">
            We, first of all, understand your requirement and help you convert your vision a reality .
          </p>
          <a href="/contact-us" class="primary-btn text-uppercase">Request quote now</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End callto-action Area -->
