<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          Services
        </h1>
        <p class="text-white link\-nav"><a href="\home">Home </a> <span class="lnr lnr-arrow-right"></span> <a
            href="{{href}}"> Services</a></p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start service Area -->
<app-service-types></app-service-types>
<!-- End service Area -->

<!-- Start feature Area -->
<app-features></app-features>
<!-- End feature Area -->

<!-- Start testimonial Area -->
<app-testimonials></app-testimonials>
<!-- End testimonial Area -->


<app-call-info></app-call-info>


<!-- <app-brands></app-brands> -->