<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row fullscreen d-flex justify-content-center align-items-center">
      <div class="banner-content col-lg-9 col-md-12 justify-content-center ">
        <h1>
          Maison <br>
          <small>Our goal is to change the way people stay in home.</small>
        </h1>
        <p class="text-white mx-auto">
          We Build Your Dream.
        </p>
        <a href="/contact-us" class="primary-btn header-btn text-uppercase mt-10">Reach Us</a>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start service Area -->
<app-service-types></app-service-types>
<!-- End service Area -->

<!-- Start gallery Area -->
<app-gallery></app-gallery>
<!-- End gallery Area -->

<!-- Start feature Area -->
<app-features></app-features>
<!-- End feature Area -->

<!-- Start testimonial Area -->

<!-- End testimonial Area -->

<app-call-info></app-call-info>

<!-- Start blog Area -->
<!-- <app-blog></app-blog> -->
<!-- End blog Area -->

<!-- <app-brands></app-brands> -->