<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row fullscreen d-flex justify-content-center align-items-center">
      <div class="banner-content col-lg-9 col-md-12 justify-content-center ">
        <h1>
          Maison <br>
          <small>We Build Your Dream</small>
        </h1>
        <p class="text-white mx-auto">
          Our goal is to change the way people stay in home.
        </p>
        <a href="/contact-us" class="primary-btn header-btn text-uppercase mt-10">Reach Us</a>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start service Area -->
<app-service-types></app-service-types>
<!-- End service Area -->

<!-- Start gallery Area -->
<app-gallery></app-gallery>
<!-- End gallery Area -->

<!-- Start feature Area -->
<app-features></app-features>
<!-- End feature Area -->

<!-- Start testimonial Area -->

<!-- End testimonial Area -->

<!-- Start callto-action Area -->
<section class="callto-action-area pt-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="callto-action-wrap col-lg-12 relative section-gap">
        <div class="content">
          <h1>
            Looking for a <br>
            quality and affordable contractors?
          </h1>
          <p class="mx-auto">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus quos accusantium reiciendis laudantium. Perspiciatis nisi aperiam adipisci vero vitae molestiae.
          </p>
          <a href="/contact-us" class="primary-btn text-uppercase">Request quote now</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End callto-action Area -->

<!-- Start blog Area -->
<!-- <app-blog></app-blog> -->
<!-- End blog Area -->

<app-brands></app-brands>