<section class="service-area section-gap" id="service">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 pb-50 header-text text-center">
        <h1 class="mb-10">What we offer to our clients</h1>
        <p>
          Who are in extremely love with eco friendly system.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="single-service">
          <a href="#">
            <h4>Interior Design</h4>
          </a>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ut, animi vitae reprehenderit nisi
            excepturi necessitatibus eligendi debitis consequatur commodi nostrum hic vel!
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-service">
          <a href="#">
            <h4>Exterior Design</h4>
          </a>
          <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ut, animi vitae reprehenderit nisi
          excepturi necessitatibus eligendi debitis consequatur commodi nostrum hic vel!
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-service">
          <a href="#">
            <h4>Ceiling Design</h4>
          </a>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ut, animi vitae reprehenderit nisi
            excepturi necessitatibus eligendi debitis consequatur commodi nostrum hic vel!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>