<!-- Start testimonial Area -->
<section class="testimonial-area pt-120">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-70 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">Testimonial from our Clients</h1>
          <p>Who are in extremely love with eco friendly system.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="active-testimonial-carusel">
        <div class="single-testimonial item d-flex flex-row">
          <div class="thumb">
            <img class="img-fluid" src="assets/img/elements/user1.png" alt="">
          </div>
          <div class="desc">
            <p>
              Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner,
              speaker, projector, hardware.
            </p>
            <h4 mt-30>Mark Alviro Wiens</h4>
            <div class="star">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
        </div>
        <div class="single-testimonial item d-flex flex-row">
          <div class="thumb">
            <img class="img-fluid" src="assets/img/elements/user2.png" alt="">
          </div>
          <div class="desc">
            <p>
              Hypnosis quit smoking methods maintain caused quite world over the last two decades. There is a lot of
              argument pertaining to
            </p>
            <h4 mt-30>Lina Harrington</h4>
            <div class="star">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
        </div>
        <div class="single-testimonial item d-flex flex-row">
          <div class="thumb">
            <img class="img-fluid" src="assets/img/elements/user1.png" alt="">
          </div>
          <div class="desc">
            <p>
              Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner,
              speaker, projector, hardware.
            </p>
            <h4 mt-30>Mark Alviro Wiens</h4>
            <div class="star">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
        </div>
        <div class="single-testimonial item d-flex flex-row">
          <div class="thumb">
            <img class="img-fluid" src="assets/img/elements/user2.png" alt="">
          </div>
          <div class="desc">
            <p>
              Hypnosis quit smoking methods maintain caused quite world over the last two decades. There is a lot of
              argument pertaining to
            </p>
            <h4 mt-30>Lina Harrington</h4>
            <div class="star">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End testimonial Area -->