<!-- Start testimonial Area -->
<section class="testimonial-area pt-120">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-70 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">Testimonial from our Clients</h1>
          <p>Who are in extremely love with eco friendly system.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="active-testimonial-carusel">
        <div class="single-testimonial item d-flex flex-row">
          <div class="thumb">
            <img class="img-fluid" src="assets/img/user.jpeg" alt="" style="min-width: 50px; min-height: 50px">
          </div>
          <div class="desc">
            <p class="text-justified text-capitalize">
              cannot describe with enough praise the high level of professionalism of this company. The main words that come to mind
              are availability, reliability, attention to details, great personal care, top class products and finishing touches. The
              whole house was transformed in no time into a beautiful, tasteful and cosy home as each room was provided with the best
              quality for value blinds and curtains
            </p>
            <h4 mt-30>Anonymous</h4>
            <div class="star">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
        </div>
        <div class="single-testimonial item d-flex flex-row">
          <div class="thumb">
            <img class="img-fluid" src="assets/img/user.jpeg" alt="" style="min-width: 50px; min-height: 50px">
          </div>
          <div class="desc">
            <p class="text-justified text-capitalize">
              Their eye for detailing at both macro and micro levels in design is incredible.
            </p>
            <h4 mt-30>Anonymous</h4>
            <div class="star">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
        </div>
        <div class="single-testimonial item d-flex flex-row">
          <div class="thumb">
            <img class="img-fluid" src="assets/img/user.jpeg" alt="" style="min-width: 50px; min-height: 50px">
          </div>
          <div class="desc">
            <p class="text-justified text-capitalize">
              The complete project was well designed, managed and completed as expected
            </p>
            <h4 mt-30>Anonymous</h4>
            <div class="star">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
        </div>
        <!-- <div class="single-testimonial item d-flex flex-row">
          <div class="thumb">
            <img class="img-fluid" src="assets/img/user.jpeg" alt="" max->
          </div>
          <div class="desc">
            <p>
              Hypnosis quit smoking methods maintain caused quite world over the last two decades. There is a lot of
              argument pertaining to
            </p>
            <h4 mt-30>Lina Harrington</h4>
            <div class="star">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>
<!-- End testimonial Area -->