<section class="feature-area section-gap">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 pb-40 header-text text-center">
        <h1 class="pb-10 text-white">What Make us a Unique choice</h1>
        <p class="text-white">
          Our expertise and Professional approach is loved by our clients.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-feature">
          <a href="#" class="title d-flex flex-row align-items-center">
            <span class="lnr lnr-user"></span>
            <h4>Expert Technicians</h4>
          </a>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, iusto alias sapiente dolores provident excepturi id similique officia.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature">
          <a href="#" class="title d-flex flex-row align-items-center">
            <span class="lnr lnr-license"></span>
            <h4>Professional Service</h4>
          </a>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, iusto alias sapiente dolores provident excepturi id
            similique officia.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature">
          <a href="#" class="title d-flex flex-row align-items-center">
            <span class="lnr lnr-phone"></span>
            <h4>Great Support</h4>
          </a>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, iusto alias sapiente dolores provident excepturi id
            similique officia.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature">
          <a href="#" class="title d-flex flex-row align-items-center">
            <span class="lnr lnr-rocket"></span>
            <h4>Technical Skills</h4>
          </a>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, iusto alias sapiente dolores provident excepturi id
            similique officia.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature">
          <a href="#" class="title d-flex flex-row align-items-center">
            <span class="lnr lnr-diamond"></span>
            <h4>Highly Recomended</h4>
          </a>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, iusto alias sapiente dolores provident excepturi id
            similique officia.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature">
          <a href="#" class="title d-flex flex-row align-items-center">
            <span class="lnr lnr-bubble"></span>
            <h4>Positive Reviews</h4>
          </a>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, iusto alias sapiente dolores provident excepturi id
            similique officia.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>