<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          Project Details
        </h1>
        <p class="text-white link-nav"><a href="/home">Home </a> <span class="lnr lnr-arrow-right"></span> <a
            href="{{href}}"> Project Details</a></p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start project-details Area -->
<section class="project-details-area section-gap">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 project-details-left">
        <img class="assets/img-fluid" src="{{this.projectImage}}" width="555px" height="470px" alt="">
      </div>
      <div class="col-lg-6 project-details-right">
        <h3 class="pb-20">{{this.projectName}}</h3>
        <p class="text-capitalize">
          Type : {{this.desingName}}
        </p>
        <div class="details-info d-flex flex-row">
          <ul class="names">
            <li>Rating </li>
            <!-- <li>Client </li>
            <li>Website </li>
            <li>Completed </li> -->
          </ul>
          <ul class="desc">
            <li>
              <div class="star">
                : <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
              </div>
            </li>
            <!-- <li>: Envato</li>
            <li>: Themeforest.net</li>
            <li>: 17 Aug 1028</li> -->
          </ul>
        </div>
        <div class="social-links mt-30">
          <a href="https://www.facebook.com/Maisonss-2955236414503520/"><i class="fa fa-facebook"></i></a>
          <!-- <a href="#"><i class="fa fa-twitter"></i></a> -->
          <!-- <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-behance"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a> -->
        </div>
      </div>
      <div class="col-lg-12 project-desc mt-60">
        <p class="text-capitalize">
         {{this.designDetails}}
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End project-details Area -->

<!-- <app-brands></app-brands> -->